In [1]:
# os functions
import os

# local files
from env import host, user, password
import wrangle as w

# df manipulations
import pandas as pd
import numpy as np

# visualization
import seaborn as sns
%matplotlib inline
import matplotlib.pyplot as plt

from scipy import stats
from math import sqrt

from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler, QuantileTransformer 
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import f_regression
from sklearn.metrics import mean_squared_error, r2_score, explained_variance_score

import warnings
warnings.filterwarnings("ignore")

np.random.seed(123)

In [3]:
# 1. Load the tips dataset from either pydataset or seaborn
from pydataset import data
tips = data('tips')

In [4]:
# 2. Fit a linear regression model (ordinary least squares) and compute yhat, predictions of tip using total_bill

model = LinearRegression().fit(X, y)
predictions = model.predict(X)

   total_bill   tip     sex smoker  day    time  size
1       16.99  1.01  Female     No  Sun  Dinner     2
2       10.34  1.66    Male     No  Sun  Dinner     3
3       21.01  3.50    Male     No  Sun  Dinner     3
4       23.68  3.31    Male     No  Sun  Dinner     2
5       24.59  3.61  Female     No  Sun  Dinner     4

In [5]:
# 3. Plot the residuals for the linear regression model that you made.

In [6]:
# 4. Calculate the sum of squared errors, explained sum of squares, total sum of squares, mean squared error,
# and root mean squared error for your model.

In [7]:
# 5. Calculate the sum of squared errors, mean squared error, and root mean squared error for the baseline model 
# (a model that always predicts the average tip amount)

In [8]:
# 6. Write python code that compares the sum of squared errors for your model against the sum of squared errors
# for the baseline model and outputs whether or not your model performs better than the baseline model.

In [9]:
# 7. What is the amount of variance explained in your model?

In [10]:
# 8. Is your model better than the baseline model?